<!DOCTYPE html> 
<meta charset="utf-8">
<html>
    <head>
        <title>Data Analysis Platform for Bilibili</title>
        <link href="static/bootstrap/css/bootstrap/3.3.6/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="static/bootstrap-select/bootstrap-select.min.css">
        <script src="static/bootstrap/js/jquery/2.0.0/jquery.min.js"></script>
        <script src="static/bootstrap-select/bootstrap-select.min.js"></script>
        <script src="static/bootstrap/js/bootstrap/3.3.6/bootstrap.min.js"></script>
        <script src="static/echarts/echarts.min.js"></script>
    </head>
    <body>
        <br>
        <br>
        <br>
        <p><h1 style="text-align:center">Individual Analysis</h1></p>
        <ul id="myTab" class="nav nav-tabs" >
            
            <li><a href="#blank" data-toggle="tab"><h4>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</h4></a></li>
            <li class="active">
                <a href="#range" data-toggle="tab"><h4>Video</h4></a>
            </li>
            <li>
                <a href="#result" data-toggle="tab"><h4>Uploader</h4></a>
            </li>  

        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="range">
                    <br>
                    <center><h4>
                            Video ID
                            <select  class="selectpicker" data-live-search="true" id="menu1ra" name="menu1ra" onchange="me1('#menu1ra','#menu2ra','#menu3ra')">
                                    <option value="">bv123456</option>
                            </select>
                            &nbsp&nbspVideo Name
                            <select  class="selectpicker" data-live-search="true" id="menu2ra" name="menu2ra" onchange="me2('#menu2ra','#menu3ra')">
                                <option value="">Bilibili</option>
                            </select>
                    </h4></center>
            </div>
            <div class="tab-pane fade" id="result">
                    <br>
                    <center><h4>
                            Uploader ID
                            <select  class="selectpicker" data-live-search="true" id="menu1ra" name="menu1ra" onchange="me1('#menu1ra','#menu2ra','#menu3ra')">
                                    <option value="">12345678</option>
                            </select>
                            &nbsp&nbspUploader Name
                            <select  class="selectpicker" data-live-search="true" id="menu2ra" name="menu2ra" onchange="me2('#menu2ra','#menu3ra')">
                                <option value="">Bilibili</option>
                            </select>
                    </h4></center>
            </div>
    </body>
</html>