<!DOCTYPE html> 
<meta charset="utf-8">
<html>
    <head>
        <title>B-RANK</title>
        <link href="static/bootstrap/css/bootstrap/3.3.6/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/bootstrap-select/bootstrap-select.min.css">
        <script src="/static/bootstrap/js/jquery/2.0.0/jquery.min.js"></script>
        <script src="/static/bootstrap-select/bootstrap-select.min.js"></script>
        <script src="/static/bootstrap/js/bootstrap/3.3.6/bootstrap.min.js"></script>
        <script src="/static/echarts/echarts.min.js"></script>
        <script src="/static/js/relation.js"></script>
    </head>
    <body>
        <br><br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <button type="button" class="btn btn-default"  style="width:130px;height:50px" onclick="javascript:self.location='index'">back</button>

        <br>
        <p><h1 style="text-align:center">Uploader Relationship</h1></p>
        <br>
        <center><div id="relation"  style="width:1300px;height:1000px"></div></center>
        <script type="text/javascript">
            var relation = eval({{relations|tojson}});
            var up = eval({{ups|tojson}});
            showRelation("relation",relation,up);
        </script>
        <center><a href="#top" target="_self" style="color:black;">top</a></center>

    </body>
</html>