<!DOCTYPE html> 
<meta charset="utf-8">
<html>
    <head>
        <title>Data Analysis Platform for Bilibili</title>
        <link href="static/bootstrap/css/bootstrap/3.3.6/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="static/bootstrap-select/bootstrap-select.min.css">
        <script src="static/bootstrap/js/jquery/2.0.0/jquery.min.js"></script>
        <script src="static/bootstrap-select/bootstrap-select.min.js"></script>
        <script src="static/bootstrap/js/bootstrap/3.3.6/bootstrap.min.js"></script>
        <script src="static/echarts/echarts.min.js"></script>
    </head>
    <body>
        <br>
        <br>
        <br>
        <p><h1 style="text-align:center">Uploader Relationship</h1></p>
        <br>
                    <center><h4>
                            START
                            <select  class="selectpicker" data-live-search="true" id="menu1ra" name="menu1ra" onchange="me1('#menu1ra','#menu2ra','#menu3ra')">
                                    <option value="">Bilibili</option>
                            </select>
                            &nbsp&nbspEND
                            <select  class="selectpicker" data-live-search="true" id="menu2ra" name="menu2ra" onchange="me2('#menu2ra','#menu3ra')">
                                <option value="">Bilibili</option>
                            </select>
                    </h4></center>

    </body>
</html>