<!DOCTYPE html> 
<meta charset="utf-8">
<html>
    <head>
        <title>B-RANK</title>
        <script src="static/bootstrap/js/jquery/2.0.0/jquery.min.js"></script>
        <script src="static/echarts/echarts.min.js"></script>
    </head>
    <body>
        <br>
        <br>
        <br>
        <p><h1 style="text-align:center">Video Ranking</h1></p>
        <ul id="myTab" class="nav nav-tabs" >
            <li><a href="#blank" data-toggle="tab"><h4>&nbsp&nbsp&nbsp&nbsp</h4></a></li>
        </ul>
        <div id="myTabContent" class="tab-content"></div>
        <script type = "text/javascript">
            var fields= eval({{field|tojson}});
            var strf = "<li class=\"active\"><a href=\"#"+fields[0]+"\" data-toggle=\"tab\"><h4>"+fields[0]+"</h4></a></li>";
            $("#myTab").append(strf);
            strf = "<div class=\"tab-pane fade in active\" id=\""+fields[0]+"\"></div>";
            $("#myTabContent").append(strf);
            for (var i = 1; i < fields.length; i++) {
                strf = "<li><a href=\"#"+fields[i]+"\" data-toggle=\"tab\"><h4>"+fields[i]+"</h4></a></li>";
                $("#myTab").append(strf);
                strf = "<div class=\"tab-pane fade\" id=\""+fields[i]+"\"></div>";
                $("#myTabContent").append(strf);
            }
            var vList = eval({{vlist|tojson}});
            for (var i = 0; i < fields.length; i++) {
                strf = "<center><table id = '"+fields[i]+"tab' border='0'><tr><th>rank</th><th>title</th><th>play</th><th>view</th><th>up</th><th>cover</th></tr></table></center>";
                $("#"+fields[i]).append(strf);
                for(var j = 0;j<fields[0].length;j++){
                    var k = j+1;
                    strf = "<tr><td>"+k+"</td><td>"+fields[i][j][0]+"</td><td>"+fields[i][j][1]+"</td><td>"+fields[i][j][2]+"</td><td>"+fields[i][j][3]+"</td><td>"+fields[i][j][4]+"</td><td>"+fields[i][j][5]+"</td></tr>";
                    $("#"+fields[i]+"tab").append(strf);
                }
            }
        </script>
    </body>
</html>