<!DOCTYPE html> 
<meta charset="utf-8">
<html>
    <head>
        <title>B-RANK</title>
        <link href="/static/bootstrap/css/bootstrap/3.3.6/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/bootstrap-select/bootstrap-select.min.css">
        <script src="/static/bootstrap/js/jquery/2.0.0/jquery.min.js"></script>
        <script src="/static/bootstrap-select/bootstrap-select.min.js"></script>
        <script src="/static/bootstrap/js/bootstrap/3.3.6/bootstrap.min.js"></script>
        <script src="/static/echarts/echarts.min.js"></script>
        <script src="/static/js/menu.js"></script>
    </head>
    <body>
        <button type="button" class="btn btn-default"  style="width:180px;height:50px" onclick="javascript:self.location='index'">back</button>
        <br>
        <br>
        <br>
        <p><h1 style="text-align:center">Video Analysis</h1></p>
        <br>
        <form action="" method='POST'>
            <center><h4>Quick Search
                <select  class="selectpicker" data-live-search="true" id="bid" name="bid">
                    <option value="">please select</option>
                </select>
                <script type = "text/javascript">
                    videoMenu("bid");
                </script>
            </h4></center>
            
            <center><h4>
                Input Video Id or Name
                    <select  class="selectpicker" data-live-search="true" id="idname" name="idname" data-width="100px">
                        <option value="0">id</option>
                        <option value="1">name</option>
                    </select>
                    <input type="text" placeholder="这盘注入灵魂的至尊芝士咖喱有点过于美味了！！【nya酱】 BV11f4y1S79w" name = "text" width="1000px"/>
                        <button class="btn btn-primary">search</button>
                
            </h4></center>

        </form>
        <center><a href="#top" target="_self">top</a></center>
    </body>
</html>